* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(240, 248, 255, 0.463);
}
body {
    overflow-x: hidden;
}
:root {
    --after-text: '0';
}
.conbiner {
    width: 80%;
    padding-inline: 30px;
    padding-bottom: 30px;
    margin: auto;
}
.conbiner h2 {
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    text-align: center;
    color: orangered;
    padding: 15px 0;
    margin-bottom: 20px;
}
.grid_containers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 20px;
}
.contianer {
    position: relative;
}
.contianer .header{
   display: flex;
   justify-content: space-between;
   text-transform: uppercase;
   margin-bottom: 20px;
}
.header h3 {
    font-weight: 500;
}
.todo .header h3 {
    color: orange;
}
.progress .header h3 {
    color: blue;
}
.done .header h3 {
    color: green;
}
.header h3::after {
    content: var(--after-text);
    margin-left: 5px;
    border-radius: 10px;
    background-color: lightgreen;
    color: black;
}
.header .add {
    border: none;
    outline: none;
    opacity: 0.5;
    cursor: pointer;
    /* background-color: orange; */
    width: 20px;
}
.header .add i {
    width: 100%;
    height: 100%;
}
.added_task {
    padding: 10px;
    max-height: 400px;
    overflow-y: scroll;
}
.taskopacity {
    opacity: 0.5;
    user-select: none;
    transform: scale(0.9);
    transition: all 0.3s ease;
}
.added_task::-webkit-scrollbar {
    width: 8px;
}
.added_task::-webkit-scrollbar-track {
    background: #eee;
}
.added_task::-webkit-scrollbar-thumb {
    background: #a2a2a2;
    border-radius: 10px;
}
.added_task::-webkit-scrollbar-thumb:hover {
    background: #777;
}
.conbiner .task {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 10px 15px;
    margin-bottom: 10px;
    animation: pop 1.3s ease-in-out alternate;
}
@keyframes pop {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
.conbiner .task .content {
    margin-bottom: 15px;
    background-color: transparent;
}
.contianer .task .btn_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    background-color: transparent;
}
.contianer .task .btn_container button {
    border: none;
    outline: none;
    font-size: 18px;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.3s ease;
}
.contianer .task .btn_container button:active {
    transform: scale(0.9);
}
.task_input {
   width: 100%;
   background-color: white;
   display: block;
}
.one .add_task_content , 
.two .add_task_content , 
.three .add_task_content {
    width: 100%;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    border-radius: 10px;
    outline: none;
    margin-bottom: 10px;
}
.add_task_content:focus {
    border-bottom: 2px solid orange;
}
.empty-container {
    text-align: center;
    opacity: 0.3;
    user-select: none;
    pointer-events: none;
}
.code_here {
    position: absolute;
    right: 0;
    top: 30px;
    transform: translateX(140px);
}
.showhere {
    transform: translateX(0);
}
.code_here a {
    color: white;
    background-color: black;
    padding: 5px 10px;
    width: 250px;
    border-radius: 5px;
    text-align: center;
}
.code_sign {
    cursor: pointer;
}
footer {
    background-color: black;
    color: white;
    padding: 2rem;
    text-align: center;
}
footer h3 {
    background-color: transparent;
}
footer .bold {
    background-color: transparent;
    color: orange;
}